*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(63, 63, 63);
}
.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
}
.mid{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left:90px;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 15px;
    width: 15px;
    margin: 6px;
    opacity: .9;
    cursor:pointer;
    background-color: blue;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.sliders{
    width: 200%;
    height: 100%;
    display: flex;
}
.slide{
    width: 100%;
    transition: all .6s ease;
}
.text{
    display: flex;
    overflow: hidden;
}
.slide img{
    width: 1100px;
    height: 600px;
}
#r1:checked ~ .images .s1{
    margin-left: 0;
}
#r2:checked ~ .images .s1{
    margin-left: -50%;
}
#r3:checked ~ .images .s1{
    margin-left: -100%;
}
#r4:checked ~ .images .s1{
    margin-left: -300%;
}
#r1:checked ~ .tetx_naviga .text .s1{
    margin-left: 0;
}
#r2:checked ~ .tetx_naviga .text .s1{
    margin-left: -50%;
}
#r3:checked ~ .tetx_naviga .text .s1{
    margin-left: -100%;
}
#r4:checked ~ .tetx_naviga .text .s1{
    margin-left: -300%;
}