*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(63, 63, 63);
}
.slider{
    width: 1100px;
    height: 600px;
    border: 1px solid white;
    overflow: hidden;
}
.mid{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left:90px;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    opacity: .9;
    cursor:pointer;
    background-color: rgb(63,63,63);
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 800px;
    height: 100%;
    display: flex;
}

.slide{
    width: 100%;
    transition: all .6s ease;
}
.slide img{
    width: 800px;
    height: 100%;
}
#r1:checked ~  .s1{
    margin-left: 0;
}
#r2:checked ~  .s1{
    margin-left: -25%;
}
#r3:checked ~  .s1{
    margin-left: -50%;
}
#r4:checked ~  .s1{
    margin-left:-75%;
}