*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(63, 63, 63);
}
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    max-height: 700px;
    margin: auto;
    margin-top: 50px;
}
.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
}
.images{
    overflow: hidden;
    width: 200%;
    height: 100%;
    display: flex;
}
.mid{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left:90px;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    padding: 7px;
    margin: 5px;
    border: 2px solid #71abff;
    background-color: #71abff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}
.bar:hover{
    background-color: #fff;
    border: 2px solid white;
    cursor: pointer;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slide{
    width: 100%;
    transition: all .6s ease;
}
.texts{
    display: flex;
}
.slide img{
    width: 1100px;
    height: 600px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
p{
    font-size: 30px;
    color: white;
}
#r1:checked ~ .images .s1{
    margin-left: 0;
}
#r2:checked ~ .images .s1{
    margin-left: -50%;
}
#r3:checked ~ .images .s1{
    margin-left: -100%;
}
#r4:checked ~ .images .s1{
    margin-left: -300%;
}
.text{
    overflow: hidden;
    max-width: 300px;
    font-size: 20px;
}
.texts{
    display: flex;
    width: 400%;
}
.texts p{
    display: block;
    width: 25%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
#r1:checked ~ .text_niviga>.text>.texts>.s1{  
    margin-left: 0;
}
#r2:checked ~ .text_niviga>.text>.texts>.s1{
    margin-left: -25%;
}
#r3:checked ~ .text_niviga>.text>.texts>.s1{
    margin-left: -50%;
}
#r4:checked ~ .text_niviga>.text>.texts>.s1{
    margin-left: -75%;
}
.text_niviga{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}